@import "tailwindcss";
@plugin "daisyui";

li a.active{
    color: #583CEA;
    font-weight: 500;
    background-color: white;
}

nav li{
    font-size: 16px;
    color: #434343;
    font-weight: 500;
}


.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }